<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tester.Properties.Settings.Portavox" connectionString="Data Source=127.0.0.1;Initial Catalog=Presupuesto;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="Tester.Properties.Settings.TestingPg" connectionString="User ID=postgres;Password=1263947;Host=localhost;Port=5432;Database=test;"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
